<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    {% block title %}
    <title>SecureShare</title>
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-brand">
            <img src="{{ url_for('static', filename='assets/logos/SecureShareWhiteTransparent.png') }}" alt="SecureShare" />
        </div>
        <ul class="nav-links">
            <li><a href="/index">Transfer</a></li>
            <li><a href="#">Log In</a></li>
            <!-- if account is authenticated -->
            <li class="account" aria-haspopup="true" aria-expanded="false">
                <a href="#" aria-haspopup="true" aria-controls="account-dropdown" aria-expanded="false">Account ▼</a>
                <div class="dropdown-content" id="account-dropdown" role="menu" aria-label="Account menu">
                    <a href="#" role="menuitem" id="accountsettings-link">Account Settings</a>
                    <a href="/logout" role="menuitem">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <img src="{{ url_for('static', filename='assets/logos/SecureShareWhiteTransparent.png') }}" alt="SecureShare" />
            <p>&copy; 2025 SecureShare. All Rights Reserved</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>
</body>
</html>